<section class="blog" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2 style="color: #F5F5F7; font-weight: 600;">News, updates and <strong style="color: #F3A31E;">insights</strong></h2>
          <p style="color: #F5F5F7; font-weight: 400;">
              With a decade of insights and expertise, we’re reimagining property so that you can focus on
              your business.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <article class="blog-post">
          <img src="" alt="blog-images" id="blogOneIS">
          <div class="blog-content">
            <h3><a href="blog-post.html?post=1" style="color: #F3A31E;" id="blogOneH"></a></h3>
            <p style="color: #F5F5F7; font-weight: 400;" id="blogOneSD"></p>
            <a class="more" href="blog-post.html?post=1">Read more <span>⟶</span></a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6">
        <article class="blog-post">
          <img src="" alt="blog-images" id="blogTwoIS">
          <div class="blog-content">
            <h3><a href="blog-post.html?post=2" style="color: #F3A31E;" id="blogTwoH"></a></h3>
            <p style="color: #F5F5F7; font-weight: 400;" id="blogTwoSD"></p>
            <a class="more" href="blog-post.html?post=2">Read more <span>⟶</span></a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6">
        <article class="blog-post">
          <img src="" alt="blog-images" id="blogThreeIS">
          <div class="blog-content">
            <h3><a href="blog-post.html?post=3" style="color: #F3A31E;" id="blogThreeH"></a></h3>
            <p style="color: #F5F5F7; font-weight: 400;" id="blogThreeSD"></p>
            <a class="more" href="blog-post.html?post=3">Read more <span>⟶</span></a>
          </div>
        </article>
      </div>
      <div class="col-12 text-center">
        <a href="blog.html" class="btn btn-primary">View Blog Page</a>
      </div>
    </div>
  </div>
</section>