<section class="cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cta-content">
          <h2  style="color: #F5F5F7; font-weight: 600;">Free 1 Day <strong style="color: #F3A31E;">Trial</strong></h2>
          <a href="contact.html" class="btn btn-primary mb-3">
              Schedule Your Day
          </a>
          <p style="font-size: 12px;color: #F5F5F7; font-weight: 400;">or check out <a class="scroll-to" href="#pricing">pricing plans</a></p>
        </div>
      </div>
    </div>
  </div>
</section>