<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto col-md-12">
        <div class="page-header">
          <h2 style="font-weight: 600; color: #F3A31E;">Contact Us</h2>
          <p style="color: #F5F5F7;">Reach Out, Let's Connect! Whether you have questions, feedback, or simply want to
            chat about workspace solutions, we're here to help. Dive into the ProWork experience by getting in touch
            with us today.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="contact-form">
          <h2 style="color: #F5F5F7;">Contact Form</h2>
          <form class="row" action="https://api.web3forms.com/submit" method="POST">
            <input type="hidden" name="access_key" value="b413d3af-9d47-4c02-8b71-2ca4dd17aa47">
            <div class="col-md-6">
              <input class="form-control" type="text" name="name" placeholder="Name" required>
            </div>
            <div class="col-md-6">
              <input class="form-control" type="text" name="phone" placeholder="Phone Number" required>
            </div>
            <div class="col-md-12">
              <input class="form-control" type="email" name="email" placeholder="Email" required>
            </div>
            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="8" placeholder="Type your message here..." required></textarea>
            </div>
            <div class="col-md-12">
            <button type="submit" class="btn btn-primary" style="margin-top: 25px;">Send Message</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://web3forms.com/client/script.js" async defer></script>