<section class="contact" id="contact">
  <div class="container-fulid">
    <div class="row no-gutters">
      <div
        class="col-lg-6"
        style="
          display: flex;
          justify-content: center;
          background-image: url(../images/hero/map.png);
          background-size: cover;
          background-repeat: no-repeat;
        "
      >
        <div
          class="cta-content responsive-display"
          style="position: absolute; bottom: 30px"
        >
          <a
            href="https://www.google.com/maps/place/ProWork/@33.5044378,73.0642899,15.26z/data=!4m6!3m5!1s0x38dff3c086ec5765:0xf7fd2ac2ae33852e!8m2!3d33.5024301!4d73.0709897!16s%2Fg%2F11vf370843?hl=en&entry=ttu"
            target="_blank"
            class="btn btn-primary mb-3"
          >
            View Google Maps
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact-aria">
          <h3>
            Plaza No 9, Street A26 Tulip Road, Sector A, DHA Phase 2 Islamabad
          </h3>
          <ul>
            <li>
              <a href="mailto:touqeerhassan76@gmail.com"
                >touqeerhassan76@gmail.com</a
              >
            </li>
            <li><a href="tel:+923348676891">+923348676891</a></li>
          </ul>
          <p>
            Give us a call or drop by anytime, we endeavour to answer all
            enquiries within 24 hours on business days.
          </p>
          <p>We are open from 7am — 7pm week days.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @media screen and (max-width: 992px) {
    .responsive-display {
      display: none !important;
    }
  }
</style>
