<section class="faq" id="faq" style="background: #f7f8fc !important;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="faq-content text-block responsive-margin">
          <h2 style="font-weight: 600;">Frequently Asked<strong style="color: #F3A31E;"> Questions</strong></h2>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="faq-content">
              <h3 style="font-weight: 600;">Q. Why should I choose your coworking space?</h3>
              <p style="font-weight: 400;">
                Our shared office space in Bahria Town Rawalpindi offers a furnished office for rent with a co-working
                environment, fostering creativity, productivity, and growth through modern amenities, high-speed
                internet, and a supportive professional community.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content">
              <h3 style="font-weight: 600;">Q. What membership options are available?</h3>
              <p style="font-weight: 400;">
                We have flexible membership plans to suit your needs, including daily passes, monthly memberships, and
                private office options
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content">
              <h3 style="font-weight: 600;">Q. Is parking available?</h3>
              <p style="font-weight: 400;">
                We provide convenient parking options for our members and its for free.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content">
              <h3 style="font-weight: 600;">Q. How can I become a member?</h3>
              <p style="font-weight: 400;">
                Becoming a member is easy! Visit our <a href="contact.html" style="color: #F3A31E;">contact page</a> to
                sign up or schedule a tour to see our space in person.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content">
              <h3 style="font-weight: 600;">Q. What are the operating hours of the coworking space?</h3>
              <p style="font-weight: 400;">
                We are open from 9am-9pm on Monday-Friday, we are also making arrangements to open at night times.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<style>
  @media screen and (max-width: 992px) {
    .responsive-margin {
      margin-top: 50px !important;
    }
  }
</style>