<section class="faq" id="faq" style="background: #f7f8fc !important;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="faq-content text-block responsive-margin">
          <h2 style="font-weight: 600;">Frequently Asked<strong style="color: #F3A31E;"> Questions</strong></h2>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="faq-content">
              <h3 style="font-weight: 600;">Q. Why should I choose your coworking space?</h3>
              <p style="font-weight: 400;">
                ProWork offers furnished coworking spaces in DHA Phase 2, Islamabad, with modern amenities and high-speed internet, promoting creativity and productivity in a supportive environment.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content">
              <h3 style="font-weight: 600;">Q. What membership options are available?</h3>
              <p style="font-weight: 400;">
                We have flexible membership plans to suit your needs, including daily passes, monthly memberships, and
                private office options
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content">
              <h3 style="font-weight: 600;">Q. Is parking available?</h3>
              <p style="font-weight: 400;">
                We provide convenient parking options for our members and its for free.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content">
              <h3 style="font-weight: 600;">Q. How can I become a member?</h3>
              <p style="font-weight: 400;">
                Becoming a member is easy! Visit our <a href="contact.html" style="color: #F3A31E;">contact page</a> to
                sign up or schedule a tour to see our space in person.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content">
              <h3 style="font-weight: 600;">Q. What makes ProWork the best coworking space in Islamabad?</h3>
              <p style="font-weight: 400;">
                ProWork provides modern coworking spaces in Islamabad with flexible options, affordable rates, and a collaborative environment ideal for freelancers, startups, and remote workers.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content">
              <h3 style="font-weight: 600;">Q. Do you offer flexible office space for remote work in Islamabad?</h3>
              <p style="font-weight: 400;">
                Yes, ProWork offers flexible office spaces designed for remote workers and digital nomads seeking a professional environment in Islamabad.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content">
              <h3 style="font-weight: 600;">Q. Is there a dedicated desk option at ProWork?</h3>
              <p style="font-weight: 400;">
                ProWork offers dedicated desk spaces, ideal for freelancers and professionals needing a consistent, personal workspace.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content">
              <h3 style="font-weight: 600;">Q. Are there private office options available at ProWork in Islamabad?</h3>
              <p style="font-weight: 400;">
                Yes, ProWork provides private office spaces tailored for startups and small teams, offering privacy within a vibrant coworking community.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content">
              <h3 style="font-weight: 600;">Q. Is ProWork coworking space affordable for startups and freelancers?</h3>
              <p style="font-weight: 400;">
                ProWork offers cost-effective coworking spaces with flexible memberships, making it an affordable choice for startups and freelancers in Islamabad.
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="faq-content">
              <h3 style="font-weight: 600;">Q. Does ProWork offer coworking spaces in DHA Phase 2, Islamabad?</h3>
              <p style="font-weight: 400;">
                Yes, ProWork provides convenient coworking spaces in DHA Phase 2, Islamabad, featuring flexible office solutions, shared workspaces, and amenities tailored for professionals, startups, and remote workers looking for a productive environment.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<style>
  @media screen and (max-width: 992px) {
    .responsive-margin {
      margin-top: 50px !important;
    }
  }
</style>