<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="footer-logo">
          <img src="images/logo-dark.png" alt="logo"  style="width: 200px;">
        </div>
        <p class="footer-description">
          "Welcome to ProWork Pakistan: Where ambition meets innovation. 
          Designed for the modern professional, our workspace offers a 
          blend of comfort, cutting-edge amenities, and a conducive 
          environment that fosters growth and creativity."
        </p>
        <div class="footer-text-block">
          <p>
            Overseas 5 Commercial, Middle Ring Road, <br> Phase 8 Bahria Town,<br> Rawalpindi, Punjab 46220, Pakistan
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 align-self-end">
        <div class="footer-icon">
          <ul>
            <li>
              <a href="https://www.linkedin.com/company/prowork-pakistan/" target="_blank">
                  <i class="ti-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/profile.php?id=61552140955006" target="_blank">
                  <i class="ti-facebook" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-copyright-text">
          <p> © <span id="newYear"></span> ProWork All rights reserved. </p>
          <!-- <ul> -->
            <!-- <li><a href="PrivacyPolicy.html"></a></li> -->
            <!-- <li><a href="terms.html"></a></li> -->
          <!-- </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>