<section class="hero" style="position: relative; overflow: hidden;">
  <!-- Video Background -->
  <video playsinline autoplay muted loop style="position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -1; transform: translate(-50%, -50%);">
    <source src="images/hero/hero-bg.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="hero-content">
          <h1 style="font-size: 3.75rem; font-weight:1000 !important; text-shadow: 3px 3px #000000; line-height: 65px !important;">
            ELEVATE WITH <br> PROWORK SPACES
          </h1>
          <p style="font-family: poppins;">
            We aim to build Pakistan's best co-working spaces.
          </p>

          <div class="cta-content responsive-margin">
            <a href="contact.html" class="btn btn-primary mb-3" style="font-size: 20px; font-weight: 500;">
              Contact Us
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .btn:hover{
    background-color: #f7f8fc !important;
    color: #000 !important;
    border: 1px solid #f7f8fc !important;
  }
</style>