<article class="post">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="post-title">
          <h2 style="color: #F3A31E; font-weight: 600;" id="postHead"></h2>
        </div>
        <div class="post-meta">
          <p style="color: #F5F5F7 !important; font-weight: 400 !important;" id="postDate"></p>
        </div>
        <div class="post-image">
          <img src="" alt="feature-image" id="postImage" style="min-width: 100%;">
        </div>
        <div class="post-body" >
          <p style="color: #F5F5F7 !important; font-weight: 400 !important; text-align: justify;" id="postBody">
          </p>
        </div>
      </div>
    </div>
  </div>
</article>