<section class="pricing" id="pricing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section-title">
          <h2 style="color: #F5F5F7 !important; font-weight: 600 !important;">Simple <strong style="color: #F3A31E;">pricing</strong> for everyone</h2>
          <p style="color: #F5F5F7; font-weight: 400;">Whether you're looking for a full-time workspace or are just visiting Islamabad, we've got an
              option for everyone
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="pricing-wraper">
          <div class="pricing-item">
            <span class="discount-badge" style="position: absolute; top: -10px; right: 5px; background-color: #40C057; color: white; width: 80px; height: 50px; border-radius: 5px; display: flex; align-items: center; justify-content: center; font-weight: 600;">
              33% off
            </span>
            <span class="price" style="text-decoration: line-through; font-size: 1.5rem;">
                Rs. 1600
            </span>
            <span class="price" style="display: block; margin-top: 5px;">
                <sup style="font-size: 20px;">Rs.</sup>1000
            </span>
      
            <h3>Day Pass</h3>
            <p>
              Dive into a day of seamless productivity with high-speed internet, unlimited tea, and flexible seating.
            </p>
          </div>
          <a href="contact.html" class="btn btn-primary">Join Us</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="pricing-wraper">
          <div class="pricing-item">
            <span class="discount-badge" style="position: absolute; top: -10px; right: 5px; background-color: #40C057; color: white; width: 80px; height: 50px; border-radius: 5px; display: flex; align-items: center; justify-content: center; font-weight: 600;">
              33% off
            </span>
            <span class="price" style="text-decoration: line-through; font-size: 1.5rem;">
                Rs.18000
            </span>
            <span class="price" style="display: block; margin-top: 5px;">
                <sup style="font-size: 20px;">Rs.</sup>12000
            </span>
      
            <h3>Monthly - Flex Desk</h3>
            <p>
              Access to a shared workspace - 30 days of consistent work bliss. Perfect to create network with industry professionals.
            </p>
          </div>
          <a href="contact.html" class="btn btn-primary">Join Us</a>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-6">
        <div class="pricing-wraper">
          <div class="pricing-item">
            <span class="discount-badge" style="position: absolute; top: -10px; right: 5px; background-color: #40C057; color: white; width: 80px; height: 50px; border-radius: 5px; display: flex; align-items: center; justify-content: center; font-weight: 600;">
              33% off
            </span>
            <span class="price" style="text-decoration: line-through; font-size: 1.5rem;">
                Rs.20000
            </span>
            <span class="price" style="display: block; margin-top: 5px;">
                <sup style="font-size: 20px;">Rs.</sup>13400
            </span>
      
            <h3>Monthly - Dedicated Desk</h3>
            <p>
              Personal desk in a shared workspace - A month-long commitment to your success. Enjoy uninterrupted access and all the ProWork perks daily.
            </p>
          </div>
          <a href="contact.html" class="btn btn-primary">Join Us</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="pricing-wraper">
          <div class="pricing-item">
            <span class="discount-badge" style="position: absolute; top: -10px; right: 5px; background-color: #40C057; color: white; width: 80px; height: 50px; border-radius: 5px; display: flex; align-items: center; justify-content: center; font-weight: 600;">
              33% off
            </span>
            <span class="price" style="font-size: 40px; line-height: 45px; color: #F3A31E;">
                Private Office
            </span>
            <p>
              Fully furnished private office space: Contact us to get custom pricing for your needs.
            </p>
          </div>
          <a href="contact.html" class="btn btn-primary">Join Us</a>
        </div>
      </div>
    </div>
  </div>
</section>
