<section class="pricing" id="pricing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section-title">
          <h2 style="color: #F5F5F7 !important; font-weight: 600 !important;"> Simple <strong
              style="color: #F3A31E;">pricing</strong> for everyone </h2>
          <p style="color: #F5F5F7; font-weight: 400;"> Whether you're looking for a full-time workspace or are just
            visiting Islamabad, we've got an option for everyone. </p>
        </div>
      </div>

      <div class="ag-format-container">
        <div class="ag-courses_box"> <!-- Day Pass -->
          <div class="ag-courses_item">
            <div class="ag-courses-item_link" onclick="redirectToContact()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title"> One Day <br />Pass

              </div>
              <div class="ag-courses-item_price-box"> <span style="font-size: small;">Rs.</span> 1000 <span
                  style="font-size: small;">/month</span> </div>
              <div class="ag-courses-item_date-box"> General </div>
              <div class="ag-courses-item_date-box-2"> Full-day access to coworking amenities. </div>
            </div>
          </div>

          <!-- Meeting Room -->
          <div class="ag-courses_item">
            <div class="ag-courses-item_link" onclick="redirectToContact()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title"> Meeting <br />Room

              </div>
              <div class="ag-courses-item_price-box"> <span style="font-size: small;">Rs.</span> 2000 <span
                  style="font-size: small;">/month</span> </div>
              <div class="ag-courses-item_date-box"> For Professionals

              </div>
              <div class="ag-courses-item_date-box-2"> Meeting room for up to 6 people.

              </div>
            </div>
          </div>

          <!-- Student Pass -->
          <div class="ag-courses_item">
            <div class="ag-courses-item_link" onclick="redirectToContact()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title"> Student <br />Pass

              </div>
              <div class="ag-courses-item_price-box"> <span style="font-size: small;">Rs.</span> 4500 <span
                  style="font-size: small;">/month</span> </div>
              <div class="ag-courses-item_date-box"> Students and Fresh Graduates

              </div>
              <div class="ag-courses-item_date-box-2"> 3 hours of access per day for students and fresh graduates.

              </div>
            </div>
          </div>

          <!-- Shared Desk -->
          <div class="ag-courses_item">
            <div class="ag-courses-item_link" onclick="redirectToContact()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title"> Shared <br />

                <span class="popular">Desk <span class="popular-tag">Popular</span></span>

              </div>
              <div class="ag-courses-item_price-box"> <span style="font-size: small;">Rs.</span> 10000 <span
                  style="font-size: small;">/month</span> </div>
              <div class="ag-courses-item_date-box"> For Professionals

              </div>
              <div class="ag-courses-item_date-box-2"> Shared workspace with 9 hours of access (day or night). </div>
            </div>
          </div>

          <!-- Shared Desk Plus -->
          <div class="ag-courses_item">
            <div class="ag-courses-item_link" onclick="redirectToContact()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title"> Shared Desk <br /> Plus

              </div>
              <div class="ag-courses-item_price-box"> <span style="font-size: small;">Rs.</span> 14000 <span
                  style="font-size: small;">/month</span> </div>
              <div class="ag-courses-item_date-box"> General

              </div>
              <div class="ag-courses-item_date-box-2"> Shared workspace with 24-hour access.

              </div>
            </div>
          </div>

          <!-- Dedicated Desk -->
          <div class="ag-courses_item">
            <div class="ag-courses-item_link" onclick="redirectToContact()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title"> Dedicated <br /> Desk

              </div>
              <div class="ag-courses-item_price-box"> <span style="font-size: small;">Rs.</span> 11000 <span
                  style="font-size: small;">/month</span> </div>
              <div class="ag-courses-item_date-box"> For Professionals </div>
              <div class="ag-courses-item_date-box-2"> Dedicated desk with 9 hours of access (day or night).

              </div>
            </div>
          </div>

          <!-- Dedicated Desk Plus -->
          <div class="ag-courses_item">
            <div class="ag-courses-item_link" onclick="redirectToContact()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title"> Dedicated Desk <span class="popular">Plus <span
                    class="popular-tag">Recommended</span></span> </div>
              <div class="ag-courses-item_price-box"> <span style="font-size: small;">Rs.</span> 16000 <span
                  style="font-size: small;">/month</span> </div>
              <div class="ag-courses-item_date-box"> For Professionals </div>
              <div class="ag-courses-item_date-box-2"> Dedicated desk with 24-hour access. </div>
            </div>
          </div>

          <!-- Night Access -->
          <div class="ag-courses_item">
            <div class="ag-courses-item_link" onclick="redirectToContact()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title"> Night <br /> Access </div>
              <div class="ag-courses-item_price-box"> <span style="font-size: small;">Rs.</span> 9000 <span
                  style="font-size: small;">/month</span> </div>
              <div class="ag-courses-item_date-box"> For Night Professionals </div>
              <div class="ag-courses-item_date-box-2"> 9 hours of access during night time. </div>
            </div>
          </div>

          <!-- Private Cabin -->
          <div class="ag-courses_item">
            <div class="ag-courses-item_link" onclick="redirectToContact()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title"> Private <br /> Cabin </div>
              <div class="ag-courses-item_price-box"> <span style="font-size: small;">Rs.</span> 44000 <span
                  style="font-size: small;">/month</span> </div>
              <div class="ag-courses-item_date-box"> For Small Teams </div>
              <div class="ag-courses-item_date-box-2"> Private cabin for up to 3 people with 9 hours of access (day or
                night). </div>
            </div>
          </div>

          <!-- Private Cabin Plus -->
          <div class="ag-courses_item">
            <div class="ag-courses-item_link" onclick="redirectToContact()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title"> Private Cabin <br /> Plus </div>
              <div class="ag-courses-item_price-box"> <span style="font-size: small;">Rs.</span> 55000 <span
                  style="font-size: small;">/month</span> </div>
              <div class="ag-courses-item_date-box"> For Small Teams </div>
              <div class="ag-courses-item_date-box-2"> Private cabin for up to 3 people with 24-hour access. </div>
            </div>
          </div>

          <!-- Private Office -->
          <div class="ag-courses_item">
            <div class="ag-courses-item_link" onclick="redirectToContact()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title"> Private <br /> Office </div>
              <div class="ag-courses-item_price-box"> <span style="font-size: small;">Rs.</span> 80000 <span
                  style="font-size: small;">/month</span> </div>
              <div class="ag-courses-item_date-box"> For Medium Teams </div>
              <div class="ag-courses-item_date-box-2"> Private office for up to 6 people with 9 hours of access (day or
                night). </div>
            </div>
          </div>

          <!-- Private Office Plus -->
          <div class="ag-courses_item">
            <div class="ag-courses-item_link" onclick="redirectToContact()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title"> Private Office <span class="popular">Plus <span
                    class="popular-tag">Popular</span></span> </div>
              <div class="ag-courses-item_price-box"> <span style="font-size: small;">Rs.</span> 110000 <span
                  style="font-size: small;">/month</span> </div>
              <div class="ag-courses-item_date-box"> For Medium Teams </div>
              <div class="ag-courses-item_date-box-2"> Private office for up to 6 people with 24-hour access. </div>
            </div>
          </div>

          <!-- Large Office -->
          <div class="ag-courses_item">
            <div class="ag-courses-item_link" onclick="redirectToContact()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title"> Large <br /> Office </div>
              <div class="ag-courses-item_price-box"> <span style="font-size: small;">Rs.</span> 130000 <span
                  style="font-size: small;">/month</span> </div>
              <div class="ag-courses-item_date-box"> For Large Teams </div>
              <div class="ag-courses-item_date-box-2"> Private office for 10-12 people with 9 hours of access (day or
                night). </div>
            </div>
          </div>

          <!-- Large Office Plus -->
          <div class="ag-courses_item">
            <div class="ag-courses-item_link" onclick="redirectToContact()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title"> Large Office <br /> Plus </div>
              <div class="ag-courses-item_price-box"> <span style="font-size: small;">Rs.</span> 170000 <span
                  style="font-size: small;">/month</span> </div>
              <div class="ag-courses-item_date-box"> For Large Teams </div>
              <div class="ag-courses-item_date-box-2"> Private office for 10-12 people with 24-hour access. </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<style>
  .ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }

  .ag-courses-item_price-box {
    padding: 14px 10px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #573b0f;
    color: #F3A31E;
    font-size: 24px;
    font-weight: 600;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .ag-courses_item:hover .ag-courses-item_price-box {
    background-color: rgba(243, 163, 30, 0.3);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .ag-courses-item_price-box:hover {
    background-color: rgba(243, 163, 30, 0.3);
    ;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
  }

  .ag-courses_item {
    -ms-flex-preferred-size: calc(25% - 30px);
    flex-basis: calc(25% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 6px;
    -webkit-transition: color .5s ease;
    border: 1px solid #121212;
    cursor: pointer;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }

  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    overflow: hidden;
    min-height: 400px;
    position: relative;
    text-decoration: none;
  }

  /* .ag-courses-item_link:hover, .ag-courses-item_link:hover .ag-courses-item_date { text-decoration: none; color: #FFF; } */

  /* .ag-courses-item_link:hover .ag-courses-item_bg { -webkit-transform: scale(10); -ms-transform: scale(10); transform: scale(10); } */

  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: 700;
    font-size: 24px;
    color: #FFF;
    z-index: 2;
    position: relative;
  }

  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
    text-align: center;
    z-index: 2;
    padding: 20px 0px;
    position: relative;
  }

  .ag-courses-item_date-box-2 {
    font-size: 14px;
    color: #FFF;
    text-align: center;
    border-top: 1px solid rgb(54, 54, 54);
    padding-top: 20px;
    z-index: 2;
    position: relative;
  }

  .ag-courses-item_date {
    font-weight: bold;
    color: #F3A31E;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }

  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #F3A31E;
    z-index: 1;
    position: absolute;
    top: -80px;
    right: -80px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .ag-courses-item_bg {
    background-color: #F3A31E;
  }

  .popular-tag {
    padding: 2px 10px;
    border-radius: 100px;
    font-size: 14px;
    background-color: rgb(10, 125, 30);
  }

  .popular {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
      font-size: 24px;
    }
  }

  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }

  }

  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }

    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;

      font-size: 24px;
    }

    .ag-courses-item_link {
      padding: 22px 40px;
    }

    .ag-courses-item_date-box {
      font-size: 16px;
    }

    .ag-courses-item_link {
      min-height: auto;
    }

  }
</style>

<script> function redirectToContact() { window.location.href = 'contact.html'; }

</script>


<!-- <div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="section-title">
      <h2 style="color: #F5F5F7 !important; font-weight: 600 !important;">Simple <strong style="color: #F3A31E;">pricing</strong> for everyone</h2>
      <p style="color: #F5F5F7; font-weight: 400;">Whether you're looking for a full-time workspace or are just visiting Islamabad, we've got an
          option for everyone
      </p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="pricing-wraper">
      <div class="pricing-item">
        <span class="discount-badge" style="position: absolute; top: -10px; right: 5px; background-color: #40C057; color: white; width: 80px; height: 50px; border-radius: 5px; display: flex; align-items: center; justify-content: center; font-weight: 600;">
          50% off
        </span>
        <span class="price" style="text-decoration: line-through; font-size: 1.5rem;">
            Rs. 1600
        </span>
        <span class="price" style="display: block; margin-top: 5px;">
            <sup style="font-size: 20px;">Rs.</sup>800<sup style="font-size: 15px;">/day</sup>
        </span>
        <p>Day Pass</p>
      </div>
      <a href="contact.html" class="btn btn-primary">Join Us</a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="pricing-wraper">
      <div class="pricing-item">
        <span class="discount-badge" style="position: absolute; top: -10px; right: 5px; background-color: #40C057; color: white; width: 80px; height: 50px; border-radius: 5px; display: flex; align-items: center; justify-content: center; font-weight: 600;">
          50% off
        </span>
        <span class="price" style="text-decoration: line-through; font-size: 1.5rem;">
            Rs.18000
        </span>
        <span class="price" style="display: block; margin-top: 5px;">
            <sup style="font-size: 20px;">Rs.</sup>9000<sup style="font-size: 15px;">/mo</sup>
        </span>
  
        <p>Flex Desk - Access to a shared workspace.</p>
      </div>
      <a href="contact.html" class="btn btn-primary">Join Us</a>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-6">
    <div class="pricing-wraper">
      <div class="pricing-item">
        <span class="discount-badge" style="position: absolute; top: -10px; right: 5px; background-color: #40C057; color: white; width: 80px; height: 50px; border-radius: 5px; display: flex; align-items: center; justify-content: center; font-weight: 600;">
          50% off
        </span>
        <span class="price" style="text-decoration: line-through; font-size: 1.5rem;">
            Rs.20000
        </span>
        <span class="price" style="display: block; margin-top: 5px;">
            <sup style="font-size: 20px;">Rs.</sup>10000<sup style="font-size: 15px;">/mo</sup>
        </span>
  
        <p>Dedicated Desk - Personal desk in a shared workspace</p>
      </div>
      <a href="contact.html" class="btn btn-primary">Join Us</a>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="pricing-wraper">
      <div class="pricing-item">
        <span class="discount-badge" style="position: absolute; top: -10px; right: 5px; background-color: #40C057; color: white; width: 80px; height: 50px; border-radius: 5px; display: flex; align-items: center; justify-content: center; font-weight: 600;">
          50% off
        </span>
        <span class="price" style="font-size: 40px; line-height: 45px; color: #F3A31E;">
            Private Office
        </span>
        <p>
          Fully furnished private office space: Contact us to get custom pricing for your needs.
        </p>
      </div>
      <a href="contact.html" class="btn btn-primary">Join Us</a>
    </div>
  </div>
</div> -->