<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="testimonial-content">
          <h3 style="color: #f3a31e;">Feedback</h3>
          <p>
            "I recently joined ProWork, and it's been a fantastic experience so far. This new coworking space has a modern and comfortable setup that's perfect for productivity. The community is friendly and welcoming, despite being new. Plus, its convenient location and helpful staff make it a great choice for professionals. I'm excited to see how ProWork continues to grow."
            <!-- <cite>FRANCIS VAN PARYS, PRESIDENT AND CEO, GE HEALTHCARE KOREA</cite> -->
          </p>
        </div>
      </div>
    </div>
</section>